html{
	font-family: 'Microsoft Yahei','Helvetica Neue',Helvetica,Arial,Lato,sans-serif;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
}
body{
	margin:0;padding: 0;
}
a{
	background: transparent;
}
a:focus{
	outline: thin dotted;
}
a:hover,a:active{
	outline: 0;
}
h1{
	font-size: 2em;
	margin:0.67em 0;
}
abbr[title]{
	border:1px dotted;
}
b,strong{
	font-weight: bold;
}
dfn{
	font-style: italic;
}
hr{
	-moz-box-sizing:content-box;
	box-sizeing:content-box;
	height:0;
}
textarea{
	overflow: auto;
	vertical-align: top;
}
table{
	border-collapse: collapse;
	border-spacing: 0;
}
ul,dl,ol{list-style: none;margin: 0;padding: 0}
ul li,ol li{margin: 0;padding: 0}
dl dt,dl dd{margin: 0;padding: 0;}
label{display:inline-block;vertical-align: middle;}
iframe{border:none;}

html,
body {
  text-align: center;
  color: #656565;
}
a {
  color: #656565;
}
a:hover,
a:active {
  text-decoration: underline;
}
.dsib {
  display: inline-block;
}
.w100p {
  width: 100%;
}
.f-xs {
  font-size: 0.75em;
}
.f-sm {
  font-size: 0.875em;
}
.f-lg {
  font-size: 1.125em;
}
.fr {
  float: right;
}
.aC {
  text-align: center;
}
.ml1em {
  margin-left: 1em;
}
.ml2em {
  margin-left: 2em;
}
.mr1em {
  margin-right: 1em;
}
.fr {
  float: right;
}
.no-decorade {
  text-decoration: none;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.btn-default {
  color: #656565;
  background-color: #ffffff;
  border-color: #e5e5e5;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #989898;
  background-color: #f2f2f2;
  border-color: #e5e5e5;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}
.btn-lg {
  padding: 10px 18px;
  font-size: 18px;
  line-height: 1em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.btn-l {
  width: 120px;
}
.btn-red {
  color: #fff;
  background-image: linear-gradient(#ff615b, #ee241d);
  -webkit-box-shadow: 2px 3px 4px #EAEAEA;
  box-shadow: 2px 3px 4px #EAEAEA;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.btn-red:hover,
.btn-red:active,
.btn-red:focus {
  color: #ffffff;
  background-image: linear-gradient(#ff726c, #ff352e);
}
.btn-gray {
  color: #989898;
  background-image: linear-gradient(#fcfcfc, #f5f5f5);
  border-color: #e5e5e5;
  -webkit-box-shadow: 2px 3px 4px #EAEAEA;
  box-shadow: 2px 3px 4px #EAEAEA;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.btn-gray:hover,
.btn-gray:active,
.btn-gray:focus {
  color: #989898;
  background-image: linear-gradient(#f7f7f7, #f0f0f0);
  border-color: #e5e5e5;
}
.input {
  display: inline-block;
  height: 24px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #e5e5e5;
}
.input:focus {
  border-color: #ff889a;
  outline: 0;
}
.br87 {
  border: 1px solid #878787;
}
.dsn {
  display: none;
}
.validate_tip {
  color: #e60012;
  margin: 0.2em 0 0.2em 0.1em;
}
.validate_br {
  border: 1px solid #ff889a;
}
.f-blue {
  color: #2e80f1;
}
.f-red {
  color: #e60012;
}
.point {
  cursor: pointer;
}
.rel {
  position: relative;
}
.mb1em {
  margin-bottom: 1em;
}
.aL {
  text-align: left;
}
.aR {
  text-align: right;
}
.m1em {
  margin: 1em;
}
.f-normal {
  font-weight: normal;
}

html,
body {
  background-color: #f5f5f5;
}
header {
  height: 84px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #ffffff;
}
.header-box {
  width: 900px;
  text-align: left;
  margin: 0 auto;
}

.container {
  padding: 30px 0;
}
.form-box {
  padding-bottom: 5em;
  border: 1px solid #e5e5e5;
  width: 900px;
  margin: 0px auto;
  background-color: #ffffff;
  text-align: left;
}
.form-title {
  height: 74px;
  line-height: 74px;
  background:#f0f0f0;
  border-bottom: 1px solid #e5e5e5;
  padding: 0 26px;
}
.form-title strong {
  margin-right: 1em;
  font-size: 1.625em;
  /* 26/16 */

}
.form-title span {
  font-size: 1.125em;
}
.form-box ul {
  padding: 1em 1%;
}
.form-box li {
  width: 100%;
  margin: 1.125em auto;
}
.form-box label {
  display: inline-block;
  width: 30.7777778%;
  text-align: right;
  vertical-align: top;
  padding: 6px 0;
  line-height: 24px;
  *float: left;
}
.form-box .dsib {
  width: 66%;
  text-align: left;
  *float: left;
}
.form-box .input {
  width: 43%;
}